.container{
margin-left: 20px;
margin-right: 20px;
}

.rowColumnas{
display: flex;
flex-direction: row;
}

/* columna */
    .columna {
        width: 33.33%;
        float: left;
        padding: 10px;
        box-sizing: border-box; 
    }

/* Cajas 1 - 4 */
    #caja1 {
        background-color: brown;
        float: left;
        width: 100%;
        height: 100px;
        margin: 5px;
        justify-content: center;
        text-align: center;
    }

    #caja2 {
        background-color: blue;
        float: left;
        width: 100%;
        height: 250px;
        margin: 5px;
        text-align: center;
    }

    #caja3 {
        background-color: chartreuse;
        width: 100%;
        height: 80px;
        float: left;
        margin: 5px;
        text-align: center;
    }

    #caja4 {
        background-color: bisque;
        width: 100%;
        height: 270px;
        float: left;
        margin: 5px;
        text-align: center;
    }
/* fin cajas */

/* Cajas 5 - 7 */
    #caja5 {
        background-color: blueviolet;
        width: 100%;
        height: 500px;
        float: left;
        margin: 5px;
        text-align: center;
    }

    #caja6 {
        background-color: aquamarine;
        float: left;
        width: 100%;
        height: 70px;
        margin: 5px;
        text-align: center;
    }

    #caja7 {
        background-color: chocolate;
        float: left;
        width: 100%;
        height: 140px;
        margin: 5px;
        text-align: center;
    }

/* fin cajas */

/* cajas 8 -10 */
    #caja8 {
        background-color: cornflowerblue;
        float: left;
        width: 100%;
        height: 400px;
        margin: 5px;
        text-align: center;
    }
    #caja9 {
        background-color: deeppink;
        float: left;
        width: 100%;
        height: 140px;
        margin: 5px;
        text-align: center;
    }

    #caja10 {
        background-color: firebrick;
        float: left;
        width: 100%;
        height: 170px;
        margin: 5px;
        text-align: center;
    }
/* fin cajas */