.encabezado{
    background-color: rgb(26, 93, 93);
    border-radius: 15px;
    box-shadow: 30px 0 30px rgba(0, 0, 0, 0.379);
    padding: 15px;
    text-align: center;
}
.encabezado:hover{
    background-color: rgb(33, 116, 116);
}
.estilos{
   text-align: center;
}
.perfil-laboral{
   list-style-position: inside;
   margin-bottom: 10px;
   margin: 5px 0 0;
}
.estudios{
   list-style-position: inside;
}
.lista-estudios{
   list-style-position: inside;
}

