.encabezado{
    background-color: rgb(26, 93, 93);
    border-radius: 15px;
    box-shadow: 30px 0 30px rgba(0, 0, 0, 0.379);
    padding: 15px;
    text-align: center;
}
.encabezado:hover{
    background-color: rgb(33, 116, 116);
}
 .perfil{
    text-align: center;
 }
 .parrafo{
    text-align: center;
 }
 .experiencia{
    text-align: center;
 }
 .lista-centrada{
    text-align: center;
    list-style-position: inside;
 }
 .lista-centrada li{
    text-align: center;
    margin-bottom: 10px;
 }
 .lista-centrada li p{
    margin: 5px 0 0;
    text-align: center;
 }
.estudios{
    text-align: center;
}
.lista-estudios{
    text-align: center;
    list-style-position: inside;
}
.hoja{
    text-align: center;
}